<% if logged_in? %>
	<div align="right">Sign in as :<a href="/users/<%= current_user.id %>"><%= current_user.name %></a></div>
<% end %>
<h1><%= @property.title %></h1>
by <%= @property.user.name%><br>

<%= @property.body %><br>
<% @booking.each_with_index do |x,index| %>
	<% index += 1 %>
	<%= index %>) <%= x.input %> (Booking by: <a href="/users/<%= x.user.id %>"><%= x.user.name %>)</a><br>
	<% if logged_in? %>
	<% if current_user.id == x.user.id %>
		<form action="/properties/<%= @property.id %>/answer/<%= x.id %>" method="post">
			<input type="hidden" name="_method" value="patch">
			<label>Edit Booking: </label>
			<input type="text" name="input" value="<%= x.input%>"><br>
			<input type="submit" value="Update Booking">
		</form>
	<% end %>
<% end %>
<br>
<% if logged_in? %>
	<form action="/properties/<%= @property.id %>/booking" method="POST">
		<label>Booking: </label>
		<textarea type="text" name="input"></textarea><br>
		<input type="submit" value="Submit answer">
	</form>
<% end %>
<% if logged_in? %>
<% if current_user.id == @property.user.id %>
	<a href="/properties/<%= @property.id %>/edit"><button>Edit property</button></a>
	<form action="/properties/<%= @property.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
<% end %>	
<% end %>
<a href="/"><button>Main Page</button></a>

<% if logged_in? %>
	<div align="right">Sign in as :<a href="/users/<%= current_user.id %>"><%= current_user.name %></a></div>
<% end %>
<h1>Heidy Ho</h1>
<% if logged_in? %>
	<h2>Go away, <%= current_user.name %></h2>
<% else %>
	<a href="/users">Login</a>
	<a href="/users/new">Sign up</a>
<% end %>

<h1>Home Page (Top Properties</h1>
